%%<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685101029597-6n51fipqcpto7so7c7bfom9o2kk0ishr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685101029597-6n51fipqcpto7so7c7bfom9o2kk0ishr</string>
	<key>API_KEY</key>
	<string>AIzaSyDXlgPIAIIDD0yQXlmvBjIOEHsr_pSSoiE</string>
	<key>GCM_SENDER_ID</key>
	<string>685101029597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-project-cfb04</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-project-cfb04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685101029597:ios:06de1d0b2f708f5ec62334</string>
</dict>
</plist>